.about {
  /* height: 100vh; */
  flex: 1 1;
  margin: 1.5rem 1.5rem 0rem 320px;
}

.about--heading {
  padding: 0 0 2rem 0;
  font-size: 2rem;
  font-weight: bolder;
}

.about--summary {
  line-height: 1.4rem;
  margin-bottom: 3rem;
}

.about__skills__all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.about__skills__all__each {
  width: 100%;
  height: 1.2rem;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  margin-bottom: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about__skills__all__each__bar--heading {
  font-weight: 500;
  background-color: rgb(108, 225, 225);
  flex: 2;
  color: rgb(4, 87, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.about__skills__all__each__bar--progress {
  flex: 7;
}
.about__skills__all__each__bar__progress--value {
  background-color: rgb(25, 117, 117);
  height: 100%;
  color: rgb(25, 117, 117);
  user-select: none;
}

.about__skills__all__each--progress {
  flex: 1;
  color: rgba(0, 0, 0, 0.294);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Certifications */

.certifications__all {
  width: 80%;
  margin-bottom: 1rem;
  overflow: scroll;
}
.certifications__all__each {
  margin-bottom: 1rem;
  line-height: 20px;
  display: flex;
  flex-direction: row;
}

.certifications__all__each--logo {
  width: 10%;
  padding-right: 1rem;
  align-self: center;
}

.certifications__all__each--logo svg {
  width: 100%;
  height: 40px;
}

.certifications__all__each--details {
  width: 90%;
  overflow: scroll;
  word-wrap: break-word;
}

.certifications__all__each__heading {
  display: flex;
  flex-direction: row;
}
.certifications__all__each__heading--title {
  width: 70%;
}
.certifications__all__each__heading--date {
  width: 30%;
  text-align: right;
}

.certifications__all__each--subHeading {
  font-weight: bolder;
}

.certifications__all__each__link--url {
  color: blue;
  flex: 8;
}

@media screen and (max-width: 1100px) {
  .certifications__all {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .about {
    margin: 3rem 1.5rem 0rem 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .about__skills__all__each__bar--heading {
    display: none;
  }
  .about__skills__all__each__bar__progress--value {
    color: rgb(219, 238, 238);
  }
}
